@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #f6fbff;
}

.hero {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #161515;
}

.hero-bg {
  background-image: url(../images/hero-img.png);
  background-size: cover;
  height: 100%;
  width: 100%;
}

.d-flex-and-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  font-size: 1rem;
}

@media (max-width: 400px) {
  .hero-content {
    text-align: left;
  }
}

.hero-content * {
  color: #fff;
}

.hero-content * + * {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

h1 {
  /* font-size: 64px; */
  font-weight: bold;
}

p {
  font-family: 'Rounded Mplus 1c';
  font-weight: normal;
  color: #24272f;
  font-size: 18px;
  line-height: 27px;
  color: #24272f;
}

.hero p {
  /* font-size: 24px; */
  max-width: 408px;
}
.btn-cta {
  padding: 0.5em 2em;
  border-radius: 10em;
  background-color: #88c960;
  box-shadow: 0px 12px 11px rgba(0, 0, 0, 0.25);
  border-radius: 49px;
  /* font-size: 18px; */
  font-weight: bold;
  font-family: Quicksand, sans-serif;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  h1 {
    font-size: 4em;
    max-width: 964px;
  }
  .hero p {
    font-size: 1.5em;
    max-width: 600px;
  }

  .hero .btn-cta {
    font-size: 1.2em;
  }
}

.mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
}

.scroll-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.scroll {
  -webkit-animation-name: scroll;
  animation-name: scroll;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 20.5px;
  transform-origin: 50% 20.5px;
  will-change: transform, opacity;
  opacity: 1;
}

@-webkit-keyframes scroll {
  0%,
  20% {
    -webkit-transform: translateY(0) scaleY(1);
    transform: translateY(0) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(36px) scaleY(2);
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}

@keyframes scroll {
  0%,
  20% {
    -webkit-transform: translateY(0) scaleY(1);
    transform: translateY(0) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(36px) scaleY(2);
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}

section {
  min-height: 100vh;
  display: flex;
}

.content-wrapper {
  position: relative;
  margin-top: 100vh;
  background: #fff;
  z-index: 2;
}

#main {
  position: static !important;
  z-index: 7;
}

.how-it-works {
  background-color: #f6fbff;
}

h2 {
  font-size: 48px;
  color: #333a4f;
  font-weight: 900;
}

p {
  color: #24272f;
  font-size: 18px;
}

.how-it-works .content {
  background: #ffffff;
  border: 1px solid #e1f4ea;
  border-radius: 12px;
  padding: 3em;
  height: 100%;
}

.bg-change {
  transition: background-color 1s ease;
}

/* panel styles */
.panel {
  min-height: 100vh;
  outline: 10px solid red;
}

.color-pink {
  background-color: #f3e1f4;
}
.color-blue {
  background-color: #e1e4f4;
}

.color-green {
  background-color: #e1f4ea;
}

.footer-cover {
  z-index: -1;
  height: 100vh;
  position: relative;
  pointer-events: none;
}

.footer {
  z-index: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: red;
}
